body {
	color: #8c8c8c;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
	overflow-x: hidden;
}

a { transition: all 0.3s ease; }
a:hover, a:focus {
	text-decoration: none;
	outline: none;
}

h2 { font-size: 2.2rem; }
h3 { 
	font-size: 1.65rem; }
h4 { 
	font-size: 1.4rem;
	line-height: 1.6;
}

p { line-height: 1.9; }

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 72.4%;
	overflow-x: hidden;
}

.quote-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 41.7%;
	overflow-x: visible;
	margin-bottom: 5px;
}

.header { padding-top: 50px; }

.header-inner {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height: 100px;
}
	
.site-name {
	color: #650071;
	display: block;
	font-size: 2.6rem;
	font-weight: 400;
}

.main-nav { font-size: 1.2rem; }

#hr-below-quote { border-top: 1px solid #CCCCCC; }

.hr { 
	margin-top: 50px;
	border-top: 1px solid #CCCCCC; 
}

.hr-footer {
	margin-top: 40px;
	margin-bottom: 25px;
	border-top: 1px solid white;
}

.navbar-nav .nav-link {
	border-radius: 6px;
	color: black;
	padding: 10px 40px;
}

.nav-item.active .nav-link, .nav-link:hover, .nav-link:focus {
	color: white;
	background-color: #7a0088;
}

.purple-text { color: #650071; }
.white-text { color: white; }

.quote { font-size: 1rem; }
.small-text { font-size: 0.8rem; }
.end-text { padding-top: 40px; }

.syntax-red { color: firebrick; }
.syntax-blue { color: mediumblue; }
.syntax-purple { color: darkorchid; }
.syntax-green { color: green; }
.syntax-orange { color: darkorange; }
.syntax-brown { color: #C2590E; }
.syntax-italic { font-style: italic; }

#quotation-open-img {
	height: 32px;
	position: relative;
	right: 9.4%;
}

#quotation-close-img {
	height: 32px;
	position: relative;
	left: 98.1%;
	bottom: 40px;
}

#home-header-img {
	width: 100%;
	margin-bottom: 50px;
}

#header-img { width: 100%; }

#about-the-author-img {
	float: right;
	height: 500px;
	margin-top: 10px;
	margin-left: 30px; 
}

.img-caption-small {
	font-size: 0.95rem;
}

.img-caption-centered {
	text-align: center;
}

.section { padding-bottom: 75px; }

.title {
	margin-top: 1rem;
	padding-top: 2rem;
	margin-bottom: 1rem;
	line-height: 1.4;
}

.subtitle {
	font-size: 1.4rem;
	max-width: 800px;
	margin: 0 auto 80px;
}

.content-box {
	max-width: 310px;
	margin: 0 auto;
}

pre {
	font-size: 0.9rem;
	color: black;
	font-family: Monaco, monospace;
	background-color: #fafafa;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 20px 20px 10px 20px;
}

code {
	font-size: 0.9rem;
	color: black;
	font-family: Monaco, monospace;
	background-color: #fafafa;
	padding: 5px;
}

.code {
	font-size: 0.9rem;
	color: black;
	font-family: Monaco, monospace;
	background-color: #fafafa;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 20px 20px 10px 20px;
}

.code p { line-height: 1.6; }

.problem-statement {
	font-size: 1.05rem;
	border-left: 2px solid #bfbfbf;
	background-color: #fafafa;
	padding: 20px 20px 10px 20px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.footer {
	color: white;
	background: url(../images/footer-img.png);
	background-size: auto;
	background-position: bottom right;
	padding-top: 50px;
	padding-bottom: 10px;
}

.logos {
	position: absolute;
	left: 45%;
	display: flex;
}

.logo-container {
	width: 45px;
	height: 30px;
	overflow: visible;
}

.facebook-logo {
	display: block;
	width: 25px;
	position: relative;
	left: 23%;
}

.github-logo {
	display: block;
	width: 25px;
	position: relative;
	left: 50%;
	bottom: 6px;
}

.linkedin-logo {
	display: block;
	width: 25px;
	position: relative;
	top: 2px;
	right: 7%;
}

.logo-container img {
  position: absolute;
  transition: opacity 0.3s ease;
}

.logo-container img.top:hover {
  opacity: 0;
}

.embed-pdf {
	border: none;
	float: right;
	margin-top: 64px;
	margin-left: 30px;
	margin-bottom: 20px;
	height: 400px;
	width: 420px;
}

.embed-pdf-landscape {
	border: none;
	float: right;
	margin-top: 64px;
	margin-left: 30px;
	margin-bottom: 20px;
	height: 280px;
	width: 470px;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

body::-webkit-scrollbar-thumb {
    background: #888; 
}

body::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

#gallery-artwork {
	padding-top: 15px;
}
